table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even), td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th, td {
    padding: 8px;
    text-align: left;
}

table {
    width: 75%;
    margin: 20px 0;
}

h1 {
    font-family:verdana;
    background-color:powderblue;
}

h2 {
    font-family:verdana;
}

p {
    font-family:garamond;
}